<style>
  .success-message{
    color:green;
    height:300px;
    text-align:center;
}

.success-message p{
  color:#444444;
  font-size:13px;

}

</style>
<div class ="success-message">
  <h2> SUCCESS! </h2>
  <p> An email with an activation link has been sent to your email account. Please click the link to activate your account. </p>
</div>